<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css"> <!--main.css fileni ulab oldik-->
    <title>Portfolio</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="frame"> <!--Asosiy browser ekrani-->
        <div class="main_frame">
            <div class="left_frame">

              <div class="left_1">
                <div class="left_1_1">
                  <img src="images/Profile.jpg" width="156px" height="142px" alt="">
                </div>
                <div class="left_1_2"><%=user.name%></div>
                <div class="left_1_3"><%=user.profession%></div>
                <div class="left-icons">
                  
                  <a class="link_href" href="">
                    <div class="icon">
                      <img src="icon/Icons-facebook.png" class="icon-1"/>
                    </div>
                  </a>
                  <a class="link_href" href="">
                    <div class="icon">
                      <img src="icon/Icons-instagram.png" class="icon-1"/>
                    </div>
                  </a>
                  <a class="link_href" href="">
                    <div class="icon">
                      <img src="icon/Icons-twitter.png" class="icon-1"/>
                    </div>
                  </a>
                  <a class="link_href" href="">
                    <div class="icon">
                      <img src="icon/Icons-linkedin.png" class="icon-1"/>
                    </div>
                  </a>
                  <a class="link_href" href="">
                    <div class="icon">
                      <img src="icon/Icons-Youtube.png" class="icon-1"/>
                    </div>
                  </a>

                </div>
              </div>

              <div class="marginer"></div>

                <div class="left_2">
                <div class="left_2_1">
                  <div class="left_key">Age: </div>
                  <div class="left_value"><%=user.age%></div>
                </div>

                <div class="left_2_1">
                  <div class="left_key">Residence: </div>
                  <div class="left_value"><%=user.residence%></div>
              </div>

              <div class="left_2_1">
                <div class="left_key">Freelance:</div>
                <div class="left_value">Avialable </div>
              </div>

              <div class="left_2_1">
                <div class="left_key">Address: </div>
                <div class="left_value"><%=user.address%></div>
              </div>
              </div>

              
               <!-- <div class="first">
                <span class="kalit">Age:</span>
                <span class="value">Yosh</span>
               </div>
               <div class="first">
                <span class="kalit">Residence:</span>
                <span class="value">BD</span>
               </div>
                <div class="first">
                <span class="kalit">Freelance:</span>
                <span class="value">Available</span>
               </div>
                <div class="first">
                <span class="kalit">Addres:</span>
                <span class="value">manzil</span>
               </div>
                </div> -->


              <div class="marginer"></div>

              <div class="left_3">
                <div class="left_3-1">
                  <div class="language">Languages</div>
                </div>
                <div class="left_3-2">
                  <div class="lang">Bangla</div>
                  <div class="pro">100%</div>
                </div>
                <div class="left_3-3">
                  <div class="foiz"></div>
                </div>
                <div class="left_3-2">
                  <div class="lang">English</div>
                  <div class="pro">80%</div>
                </div>
                <div class="left_3-3">
                  <div class="foiz1"></div>
                </div>
                <div class="left_3-2">
                  <div class="lang">Spanish</div>
                  <div class="pro">60%</div>
                </div>
                <div class="left_3-3">
                  <div class="foiz2"></div>
                </div>
              </div>

              <div class="marginer"></div>

              <div class="left_4">
                <div class="left_4-1">
                  <div class="language">Skills</div>
                </div>
                <div class="left_4-2">
                  <div class="lang">Html</div>
                  <div class="pro">90%</div>
                </div>
                <div class="left_4-3">
                  <div class="foiz4"></div>
                </div>
                <div class="left_4-2">
                  <div class="lang">CSS</div>
                  <div class="pro">85%</div>
                </div>
                <div class="left_4-3">
                  <div class="foiz5"></div>
                </div>
                <div class="left_4-2">
                  <div class="lang">JS</div>
                  <div class="pro">80%</div>
                </div>
                 <div class="left_4-3">
                  <div class="foiz6"></div>
                </div>
                <div class="left_4-2">
                  <div class="lang">PHP</div>
                  <div class="pro">75%</div>
                </div>
                <div class="left_4-3">
                  <div class="foiz7"></div>
                </div>
                <div class="left_4-2">
                  <div class="lang">WordPress</div>
                  <div class="pro">85%</div>
                </div>
                <div class="left_4-3">
                  <div class="foiz8"></div>
                </div>
              </div>


              <div class="marginer"></div>

              <div class="left_5">
                <div class="left_5-1">Extra Skills</div>
                <div class="left_5-2">
                  <span class="left_5-icon" ><img src="icon/Icons.png" class="iconka"/></span>
                  <div class="left_5-text">Bootstrap, Materialize</div>
                </div>
                <div class="left_5-2">
                  <span class="left_5-icon" ><img src="icon/Icons.png" class="iconka"/></span>
                  <div class="left_5-text">Stylus, Sass, Less</div>
                </div>
                <div class="left_5-2">
                  <span class="left_5-icon" ><img src="icon/Icons.png" class="iconka"/></span>
                  <div class="left_5-text">Gulp, Webpack, Grunt</div>
                </div>
                <div class="left_5-2">
                  <span class="left_5-icon" ><img src="icon/Icons.png" class="iconka"/></span>
                  <div class="left_5-text">GIT Knowledge</div>
                </div>
                
              </div>
              <div class="marginer"></div>
              
            </div>
            <div class="midd_frame"></div>
            <div class="right_frame"></div>
        </div>
    </div>
  </body>
</html> 